.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 2px grey;
}
.Label {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 1px grey;
}
.Less {
    background-color: #BF8C00;
}
.More {
    background-color: #E8AA00;
}